* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 0px;
}

.container {
    width: 100%;
    max-width: 800px;
    border: 1px solid #ccc;
    margin: 20px;
}

.header {
    background-color: #b0c4de;
    text-align: center;
    padding: 20px;
}

.left {
    background-color: #d8bfd8;
    width: 25%;
    float: left;
    height: inherit;
    padding: 20px;
}

.ctn1 {
    height: 170px;
}

.main {
    background-color: #98fb98;
    width: 75%;
    float: right;
    padding: 10px;
    text-align: center;
    height: inherit;
}

.image img {
    width: 100px;
    height: 100px;
}

.footer {
    background-color: #f0e68c;
    clear: both;
    text-align: center;
    padding: 10px;
    /*
    margin-top: 20px;*/
}

    .footer p {
        font-size: 14px;
        color: #666;
    }
