﻿@{
    ViewData["Title"] = "Home Page";
}


<header>
    <h2>GIỚI THIỆU</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <h1>Nguyen Ngoc Mai</h1>
        <p>------</p>
        <img src="~/image/Anh.png.jpg" style="width:100px;" />
    </article>
</section>

<footer>
    <p>Copyright &copy; Nguyen Ngoc Mai - @DateTime.Now.Year</p>
</footer>